{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
      {% comment %} <h1>{{ review.title }}<h1>
      <hr>
      <div class="mb-5">작성 시간 : {{ review.created_at.date }}</div>
      <div>내용</div>
      <div>{{ review.content }}</div> {% endcomment %}
      <table class="table">
        <thead class="table-success text-center">
            <tr>
                <th>리뷰 제목</th>
                <th>리뷰 내용</th>
                <th>별점</th>
                <th>작성 시간</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% if review.title == "" %}
                <td><a class='text-decoration-none' href="{% url 'movie:detail' review.pk %}">제목이 없습니다.</a></td>
                {% else %}
                <td><a class='text-decoration-none' href="{% url 'movie:detail' review.pk %}">{{ review.title }}</a></td>
                {% endif %}
                <td>{{ review.content }}</td>
                <td class="text-center">
                    {% if review.score == 5 %}
                    <i class="bi bi-star-fill text-warning"></i>
                    <i class="bi bi-star-fill text-warning"></i>
                    <i class="bi bi-star-fill text-warning"></i>
                    <i class="bi bi-star-fill text-warning"></i>
                    <i class="bi bi-star-fill text-warning"></i>
                    {% elif review.score == 4 %}
                    <i class="bi bi-star-fill text-warning"></i>
                    <i class="bi bi-star-fill text-warning"></i>
                    <i class="bi bi-star-fill text-warning"></i>
                    <i class="bi bi-star-fill text-warning"></i>
                    {% elif review.score == 3 %}
                    <i class="bi bi-star-fill text-warning"></i>
                    <i class="bi bi-star-fill text-warning"></i>
                    <i class="bi bi-star-fill text-warning"></i>
                    {% elif review.score == 2 %}
                    <i class="bi bi-star-fill text-warning"></i>
                    <i class="bi bi-star-fill text-warning"></i>
                    {% elif review.score == 1 %}
                    <i class="bi bi-star-fill text-warning"></i>                    
                    {% endif %}   
                    
                </td>
                <td class="text-center">{{ review.created_at.date }}</td>
            </tr>
        </tbody>
    </table>












      <a class="btn btn-primary" href="{% url 'movie:index' %}">목록</a>
      <a class="btn btn-primary" href="{% url 'movie:delete' review.pk %}">리뷰 삭제</a>
      <!-- <a href="{% url 'movie:edit' review.pk %}">리뷰 수정</a> -->
      <!-- 리뷰 수정 modal -->
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        리뷰 수정
      </button>

      <!-- Modal -->

      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">글 작성 시 입력했던 비밀번호를 입력하세요.</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form action="{% url 'movie:password_confirm' review.pk %}" method="GET">
              <div class="modal-body">
                <label name='password_confirm'>비밀번호 입력</label>
                <input type="password" class="form-control" name="password_confirm">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                <input type="submit" class="btn btn-primary"></a>
              </div>

            </form>
          </div>
        </div>
      </div>

</div>

{% endblock %}