{% extends 'base.html' %}
{% block content %}
<h1>수정</h1>
<form action="{% url 'movie:update' review.pk %}">
    <label class='form-label' name='title'>제목</label>
    <div class="input-group">
        <input class="form-control" type="text" name="title" value='{{ review.title }}'>
    </div>
    <label class='form-label' name='content'>내용</label>
    <div class="input-group">
        <textarea class="form-control" name="content" value='{{ review.content }}'>{{ review.content }}</textarea>
    </div>
    <input class="form-control btn btn-primary" type="submit">
</form>


{% endblock %}