{% extends 'base.html' %}
{% block content %}


<div class="container">
    <p class="mt-3">
        <i class="bi bi-star-fill text-warning"></i> 리뷰 총 갯수 : {{ total }}개
    </p>
    <table class="table">
        <thead class="table-success text-center">
            <tr>
                <th>리뷰 번호</th>
                <th>리뷰 제목</th>
                <th>작성 시간</th>
            </tr>
        </thead>
        <tbody>
            {% for review in reviews %}
            <tr>
                <td class="text-center">{{ forloop.counter }}</td>
                <td><a href="{% url 'movie:detail' review.pk %}">{{ review.title }}</a></td>
                <td class="text-center">{{ review.created_at.date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="row">
        <div class="col-12">
            <a href="/new/" class="btn btn-primary" style="float:right;">리뷰 작성</a>
        </div>
    </div>
</div>



{% endblock %}