{% extends 'base.html' %}
{% block content %}
<h1 class="text-center">Movie Index</h1>
<div class="container">
    <a href="{% url 'movie:new' %}">리뷰 작성</a>
    <p>리뷰 총 갯수 : {{ total }}개</p>
    <table class="table">
        <thead>
            <tr>
                <th>리뷰 번호</th>
                <th>리뷰 제목</th>
                <th>작성 시간</th>
            </tr>
        </thead>
        <tbody>
            {% for review in reviews %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="{% url 'movie:detail' review.pk %}">{{ review.title }}</a></td>
                    <td>{{ review.created_at.date }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}